<div ng-class="{'active': isEditGradeModalActive}" class="modal">
    <div class="modal-overlay" ng-disabled="pendingTask === 'update'" ng-click="deactivateEditGradeModal()"></div>
    <div class="modal-container">
        <div class="modal-header">
            <button class="btn btn-clear float-right" ng-disabled="pendingTask === 'update'" ng-click="deactivateEditGradeModal()"></button>
            <div class="modal-title">Editing Grade {{grade.name}}</div>
        </div>
        <div class="divider"></div>
        <div class="modal-body">
            <div class="content">
                <form>
                    <div class="form-group">
                        <label class="form-label" for="grade-name">Name</label>
                        <input class="form-input" type="text" id="grade-name" placeholder="Name" ng-model="grade.name" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="grade-order">Order</label>
                        <input class="form-input" type="number" min="1" max="{{grades.length}}" id="grade-order" placeholder="Order" ng-model="grade.order"
                        />
                    </div>
                </form>
            </div>
        </div>
        <div class="divider"></div>
        <div class="modal-footer">
            <button class="btn btn-link float-left" ng-click="deleteGrade()" ng-disabled="grade.lectures.length > 0 || grade.students.length > 0 || grade.subjects.length > 0">Delete</button>
            <button class="btn btn-link" ng-click="deactivateEditGradeModal()" ng-disabled="pendingTask === 'update'">Cancel</button>
            <button class="btn btn-primary" ng-click="updateGrade()" ng-class="{'loading': pendingTask === 'update'}">Update</button>
        </div>
    </div>
</div>