body {
    background-color: rgba(0, 0, 0, 0.05);

    -webkit-font-smoothing: antialiased;
}

.btn-block {
    margin-bottom: 5px;
}

.btn-block:last-of-type {
    margin-bottom: 0;
}

.btn-link {
    padding: 0 !important;
}